.block_list {
  border-right: 1px solid $playlists-border-colour;
  font-family: $monospace-font-family;
  
  &__list {
    margin: 0;
    padding: 0;
  }
  
  &__link {
    text-decoration: none;
  }
  
  &__item {
    @include padding(3rem 1rem);

    background-color: $playlists-link-background-colour;
    border-bottom: 1px solid $playlists-border-colour;
    color: $playlists-link-colour;
    display: block;
    list-style: none;

    &:hover {
      background-color: $playlists-link-hover-background-colour;
      color: $playlists-link-hover-colour;
    }
  }
}
