<!DOCTYPE html>
<html lang="en">
    <head prefix="music: http://ogp.me/ns/music#">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" contnet="{% for keyword in site.keywords %}{{ keyword }}, {% endfor %}">
        
        <title>{% if page.title %}{{ page.title }} // {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        
        <link rel="onion" href="http://yyow3cunulutqezw.onion/">
        
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}{% asset_path style.css %}">
        
        {% include favicons.html %}
        {% include head_facebook.html %}
        {% include head_twitter.html %}
        {% include head_windows.html %}
        
        <link rel="alternate" type="application/atom+xml" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="Myles.RED Feed">
        
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.myles.red"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.mylesb.ca/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 12]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//piwik.mylesb.ca/piwik.php?idsite=12" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </head>
    <body>
        {{ content }}
        
        <script type="text/javascript">
        window.MylesRedPageDetails = {
            {% if page.title %}title: {{ page.title | jsonify }},{% endif %}
            {% if page.date %}date: {{ page.date | jsonify }},{% endif %}
            {% if page.tracks %}tracks: {{ page.tracks | jsonify }},{% endif %}
            url: "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
        }
        </script>
        
        <script type="text/javascript" src="{{ site.baseurl }}{% asset_path application.js %}"></script>
    </body>
</html>
