---
layout: default
---

<aside>
	<h1>{{ page.title }}</h1>
	<h2>{{ page.date | date_to_string }}</h2>
	
	{% if page.enclosures %}
	<audio controls>
		{% if page.enclosures.mp3 %}<source src="{{ page.enclosures.mp3 | prepend: "/podcasts/" | prepend: site.cdn_url }}" type="audio/mpeg">{% endif %}
		{% if page.enclosures.m4a %}<source src="{{ page.enclosures.m4a | prepend: "/podcasts/" | prepend: site.cdn_url }}" type="audio/mp4a-latm">{% endif %}
	</audio>
	{% endif %}
	
	{% if page.external_links or page.enclosures %}
	<p>
		{% if page.external_links.rdio %}<a href="{{ page.external_links.rdio }}">Rdio</a>{% endif %}
		{% if page.external_links.spotify %}<a href="{{ page.external_links.spotify }}">Spotify</a>{% endif %}
		{% if page.enclosures.mp3 %}<a href="{{ page.enclosures.mp3 | prepend: "/podcasts/" | prepend: site.cdn_url }}" download>Download MP3</a>{% endif %}
		{% if page.enclosures.m4a %}<a href="{{ page.enclosures.m4a | prepend: "/podcasts/" | prepend: site.cdn_url }}" download>Download M4A</a>{% endif %}
	</p>
	{% endif %}
	
	{{ content }}
	
	<p class="pager">
		{% if page.next %}
		<a href="{{ page.next.url }}" class="active">Next</a>
		{% else %}
		<a href="javascript:void(0)" class="inactive">Next</a>
		{% endif %}
		<a href="{{ "/" | site.base.url }}" class="home">Home</a>
		{% if page.previous %}
		<a href="{{ page.previous.url }}" class="active">Previous</a>
		{% else %}
		<a href="javascript:void(0)" class="inactive">Previous</a>
		{% endif %}
	</p>
</aside>

<article>
	{% assign count = '0' %}
	<ul>
	{% for track in page.tracks %}
		<li>
			{% capture count %}{{ count | plus: '1' }}{% endcapture %}
			<span class="count">{{ count }}</span>
			<span class="track">
				<span class="name">{{ track.name }}</span>
				<span class="spacer">&bull;</span>
				<span class="artist">{{ track.artist }}</span>
			</span>
		</li>
	{% endfor %}
	</ul>
</article>