<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ site.cdn_url }}{% asset_path favicon.png %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}?utm_source=facebook&utm_medium=facebook&utm_campaign=facebook">

{% if page.tracks %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="music.playlist">
{% for track in page.tracks %}
<meta property="music:song" contnet="{{ track.name }}">
{% endfor %}
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
{% endif %}

{% if page.enclosures.mp3 %}
<meta property="og:audio" content="{{ page.enclosures.mp3 | prepend: "/podcasts/" | prepend: site.cdn_url }}">
<meta property="og:audio:type" content="audio/mpeg">
{% endif %}