<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#c54e4f">
<meta name="msapplication-square70x70logo" content="{% asset_path favicon.png %}">
<meta name="msapplication-square150x150logo" content="{% asset_path favicon.png %}">
<meta name="msapplication-square310x310logo" content="{% asset_path favicon.png %}">
<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=http://myles.red/feed.xml&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=http://myles.red/feed.xml&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=http://myles.red/feed.xml&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=http://myles.red/feed.xml&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=http://myles.red/feed.xml&amp;id=5; cycle=1">
