aside {
	h1 {
        font-weight: bolder;
		font-size: modular-scale(5);
		font-family: $serif-font-family;
		margin: 1em 0 0 0;
	}

	h2 {
    font-weight: bolder;
		font-size: modular-scale(4);
		font-family: $serif-font-family;
	}
  
    a {
        color: $dark-gray;
        
        &:hover {
          color: $medium-gray;
        }
    }
    
	@include media(max-width $large-screen) {
		padding: 0 1em;
		text-align: center;
		
		h1 { font-size: modular-scale(3); }
		h2 { font-size: modular-scale(2); }
	}
}