@font-face {
	font-family: 'Martel Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Martel Sans Bold'),
		local('MartelSans-Bold'),
		url(asset_path('MartelSans-Bold.ttf')) format('truetype');
}

@font-face {
	font-family: 'Playfair Display SC';
	font-style: normal;
	font-weight: 700;
	src: local('Playfair Display SC Bold'),
		local('PlayfairDisplaySC-Bold'),
		url('fonts/PlayfairDisplaySC-Bold.ttf') format('truetype');
}