section {
	@include outer-container;
	
	aside {
		@include span-columns(6);
				
		@include media(max-width $large-screen) {
			@include span-columns(12);
			@include omega();
		}
	};
	
	article {
		@include span-columns(6);
		@include omega();
		
		@include media(max-width $large-screen) {
			@include span-columns(12);
		}
	};
}

aside {
	color: $dark-gray;
	
	h1 {
		font-size: modular-scale(5);
		font-family: $georgia;
		margin: 1em 0 0 0;
	}

	h2 {
		font-size: modular-scale(4);
		font-family: $helvetica;
	}
}

article {
	font-size: modular-scale(1);
	font-family: $monospace;
	color: $light-gray;
	background-color: $dark-gray;
	height: 100%;
	
	a { color: $light-gray; }
	
	ol {
		list-style-position: inside;
		list-style-type: decimal-leading-zero;
	}
	
	li {
		@include padding(3em 1em);
		
		border-bottom: 1px solid $light-gray;
		
		&:hover {
			color: $dark-gray;
			background-color: $medium-gray;
		}
	}
}