body {
	background-color: rgb(197, 78, 79);
	color: $light-gray;
}

a {
	color: $dark-gray;
	
	&:hover {
		color: $medium-gray;
	}
}

section {
	@include outer-container;
	
  nav {
    @include outer-container;
    @include margin(null null null null);
    @include position(fixed, 0 0 null 0);
    
    div {
      @include span-columns(4);
    }
  }
  
	aside {
		@include span-columns(12);
		
		@include omega();
		
		@include media(min-width $large-screen) {
      @include position(fixed, 0 0 0 null);
			@include span-columns(5);
			@include shift(1);
      
			overflow: auto;
		}
	};
	
	article {
		@include span-columns(12);
		
		@include omega();
		
		@include media(min-width $large-screen) {
			@include span-columns(6);
		}
	};
}

nav {
  font-family: $monospace;
	background-color: $dark-gray;
  border-bottom: 1px solid $light-gray;
  
  a {
    color: $light-gray;
  }
  
  div {
    &.next {
      text-align: left;
    }
  
    &.home {
      text-align: center;
    }
  
    &.previous {
      text-align: right;
    }
  }
}

aside {
	h1 {
		font-size: modular-scale(5);
		font-family: 'Playfair Display SC', $georgia;
		margin: 1em 0 0 0;
	}

	h2 {
		font-size: modular-scale(4);
		font-family: 'Martel Sans', $helvetica;
	}
  
	@include media(max-width $large-screen) {
		padding: 0 1em;
		text-align: center;
		
		h1 { font-size: modular-scale(3); }
		h2 { font-size: modular-scale(2); }
	}
}

article {
	font-size: modular-scale(1);
	font-family: $monospace;
	color: $light-gray;
	background-color: $dark-gray;
	height: 100%;
	
	a { color: $light-gray; }
	
	ol {
		list-style-position: inside;
		list-style-type: decimal-leading-zero;
	}
	
	li {
		@include padding(3em 1em);
		
		border-bottom: 1px solid $light-gray;
		
		&:hover {
			color: $dark-gray;
			background-color: $medium-gray;
		}
	}
}