nav {
  background-color: $dark-gray;
  border-bottom: 1px solid $light-gray;
  font-family: $monospace-font-family;

  a {
    color: $light-gray;
  }

  div {
    &.next {
      padding-left: 1.5em;
      text-align: left;
    }

    &.home {
      text-align: center;
    }

    &.previous {
      padding-right: 1.5em;
      text-align: right;
    }
  }
}
