$max-width: 100% !global;

$primary-colour: rgb(255, 81, 115);

$monospace-font-family: 'Source Code Pro', $monospace;
$serif-font-family: 'Source Serif Pro', $georgia;
$sans-serif-font-family: 'Source Sans Pro', $helvetica;

$small-screen: em(320);
$medium-screen: em(640);
$large-screen: em(860);

$small-screen-up: new-breakpoint(min-width $small-screen 2);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
