---
layout: default
---

<section>
	<nav>
		<div class="next">
			{% for post in site.posts %}{% if forloop.last %}
			<a href="{{ post.url }}" title="{{ post.title }}">Next</a>
			{% endif %}{% endfor %}
		</div>
	
		<div class="home">
			<a href="{{ "/" | site.base.url }}" title="Home">Home</a>
		</div>
	
		<div class="previous">
			{% for post in site.posts %}{% if forloop.first %}
			<a href="{{ post.url }}" title="{{ post.title }}">Prev</a>
			{% endif %}{% endfor %}
		</div>
	</nav>
	
	<aside>
		<h1>{{ site.title | improve }}</h1>
		<h2>{{ site.time | date_to_long_string | improve }}</h2>
		<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">{{ "via RSS" | improve }}</a>.</p>
	</aside>

	<article>
		<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">
					<span class="date">
						{{ post.date | date: "%-d %B, %Y" | improve }}
					</span>
					
					<span class="spacer">&bull;</span>
					
					<span class="title">
						{{ post.title | improve }}
					</span>
				</a>
			</li>
		{% endfor %}
		</ul>
	</article>
</section>